@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.header h1 {
  color: #004aad;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.header p {
  color: #606060;
  margin-bottom: 1rem;
  text-align: center;
}

.search-bar {
  display: flex;
  width: 100%;
  max-width: 500px;
}

.search-bar input {
  flex: 1;
  padding: 0.5rem;
  border: 2px solid #004aad;
  border-right: none;
  border-radius: 20px 0 0 20px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  background-color: #004aad;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  position: relative;
  color: #fff;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.company-info {
  max-width: 600px;
  margin: 20px auto;
  padding: 16px;
  font-size: 14px;
}

.company-info h2 {
  color: #004aad;
  margin-bottom: 16px;
  text-align: center;
}

.company-details {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 16px;
}

dt {
  color: #004aad;
  font-weight: bold;
}

dd {
  margin-left: 16px;
  margin-bottom: 8px;
}

.secondary-detail {
  font-size: 0.9em;
  color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
  .company-info {
    padding: 12px;
  }

  .company-details {
    padding: 12px;
  }

  dt {
    font-size: 0.95em;
  }

  dd {
    font-size: 0.9em;
  }
}

.footer {
  background: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer p {
  font-size: 0.5rem;
}
.footer img {
  width: 40px;
  margin-left: 2px;
}

@media (max-width: 800px) {
  .header {
    padding: 1rem;
  }
}
